<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This Page belongs to Adidas Lovers......</h1>
        <a href="{% url 'shoes:nike' %}">CLICK HERE TO SEE THE UPCOMING PRODUCT FOR NIKE LOVERS</a>

        <img src="https://rukminim1.flixcart.com/image/1408/1408/shoe/9/h/z/blubea-metsil-ntnavy-blac-imba-m-adidas-8-original-imae2zjquyuujvs4.jpeg?q=90" alt="">
        
    </center>
</body>
</html>