<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This Page belongs to Nike Lovers......</h1>
        <a href="{% url 'shoes:adidas' %}">CLICK HERE TO SEE THE UPCOMING PRODUCT CREATED FOR ADIDAS LOVERS</a>

        <img src="https://rukminim1.flixcart.com/image/1664/1664/shoe/z/y/r/404-621077-nike-9-original-imadvguhafmerw44.jpeg?q=90" alt="">
        
        
    </center>
</body>
</html>